*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #181818;
}
#popUpScreen{
    display: none;
}
.card{
    align-items: center;
    background-color: #292929;
    color: #fff;
}
.cardButton{
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 2.3px;
}
.deleteButton{
    margin-left: 1rem;
    margin-bottom: 1rem;
}